html{
    overflow-x: hidden;
}
body{
    font-family: Helvetica;
    background-image: url("wine_blur.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: floralwhite;
    overflow-x: hidden;
}

#labels{
    text-align: center;
}

#winePageFormContainer{
    text-align: center;
}