html{
    overflow-x: hidden;
}
body{
    font-family: Helvetica;
    background-image: url("wine_blur.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: floralwhite;
    overflow-x: hidden;
}
#labels{
    width:200px;
    

}
#textFields{
    width: 200px;
    
}
#winePageForm{
    width: 200px;
    margin-left: 30px;
}